

.modify_booking_card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: ; */
    border-radius: 15px;
    width: 46%;

    margin-right: 4%;
    margin-bottom: 0.8em;
    /* border: 2px solid yellow; */
}

.modify_booking_service_number{
    font-weight: 600;
    font-size: 1em;
    color: #6FA66B;
    padding: 1em;
}

.modify_booking_card_content{

    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    padding: 1em 0;

    border-radius: 15px;

}

.service_name_dropdown{
    padding: 0.8em;
    margin: 1em 3em;

    background: none;
    border-color: #DFDFDF;
    border: none;
    border-bottom: 1px solid #DFDFDF;

    font-size: 0.9em;
    color: #828080;
    /* border-bottom: #DFDFDF; */
}

.modify_booking_save{
    width: 18%;
    margin: 4em auto;

    /* background-color: rebeccapurple; */
}

